<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div>
    <button mat-raised-button *ngIf="!authService.isLoggedIn" routerLink="/login">Login</button>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/favourites">
          Favourites
        </a>
      </li>
    </ul>
  </div>
  <div >
    <form class="form-inline my-2 my-lg-0" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <input class="form-control mr-sm-2" type="search" placeholder="Search Your City here" aria-label="Search"
             formControlName="searchField">
    </form>
  </div>
  <div> 
  <button routerLink="/" (click)="onLogout()"
    mat-raised-button *ngIf="authService.isLoggedIn" color="primary" type="submit">Logout</button>
  </div>
</nav>