<div class="login-form">
  <h3>Login</h3>
  <hr>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" class="form-control" formControlName="email" />
      <div *ngIf="!loginForm.get('email').valid && (loginForm.get('email').dirty || loginForm.get('email').touched)"
           class="alert alert-danger alert-box" role="alert">
        Email is not valid
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" class="form-control" formControlName="password" />
      <div *ngIf="!loginForm.get('password').valid && (loginForm.get('password').dirty || loginForm.get('password').touched)"
           class="alert alert-danger alert-box" role="alert">
        Password is invalid
      </div>
    </div>

    <div>
      <br><br>
      <button [disabled]="!loginForm.valid" class="btn btn-primary" type="submit">Login</button>
      <br><br>
      <a class="nav-link" routerLink="/register">SignUp Now</a>
    </div>
  </form>
    <div *ngIf="errMessage.length !== 0" class="alert alert-danger" role="alert">
      {{ errMessage }}
    </div>
</div>
