
.singlecard
{
  margin-bottom: 50px;
}

.card-deck
{
  align-content: center;
  align-self: center;
  margin-left :90px;
  margin-left: 80 px;
  margin-right: 80 px;

}

.cen
{
  text-align: center;
  margin-top: 25px;
  color: antiquewhite;
}

